.button {
  cursor: pointer;
  padding: 23px 33px;
  background-color: #99baed;
  border-radius: 20px;
  border: 0;
  height: auto;
  color: white;
  font-size: 20px;
  font-family: "Catamaran";
  font-weight: 700;
  line-height: 30.12px;
  letter-spacing: 0.6px;
  word-wrap: break-word;
  &:hover {
    background-color: aqua;
    transition: 0.1s linear;
  }
}

/* xl */
@media (max-width: 1280px) {
  .button {
    padding: 23px 13px;
    font-size: 16px;
    font-family: "Catamaran";
    font-weight: 700;
    letter-spacing: 0.6px;
    word-wrap: break-word;
  }
}
