.get-started-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: aqua; */
  height: 821px;
  align-items: center;
  padding: 10px;
}

.get-started-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 0 24px 0 188px; */
}

.get-started-title {
  max-width: 600px;
}

.get-started-title-highlited {
  color: #fbb400;
}

.get-started-text {
  max-width: 526px;
  margin: 29px 0 97px;
}

.get-started-button {
  width: 188px;
  max-width: 188px;
  min-width: 188px;
  border-radius: 20px;
  background-color: #99baed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

.get-started-button-text {
  color: white;
  font-size: 20px;
  font-family: "Catamaran";
  font-weight: 700;
  line-height: 30.12px;
  letter-spacing: 0.6px;
  word-wrap: break-word;
}

.get-started-right {
  max-width: 800px;
}
.get-started-right-img {
  max-width: 100%;
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 820px) {
  .container {
    max-width: 640px;
  }
  .get-started-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* background-color: aqua; */
    /* height: 821px; */
  }
  .get-started-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 24px 0 188px; */
  }

  .get-started-title {
    max-width: 640px;
    font-size: 30px;
    text-align: center;
  }

  .get-started-title-highlited {
    color: #fbb400;
  }

  .get-started-text {
    max-width: 526px;
    margin: 10px 0 57px;
    font-size: 20px;
    text-align: center;
  }

  .get-started-button {
    width: 188px;
    max-width: 188px;
    min-width: 188px;
    border-radius: 20px;
    background-color: #99baed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
  }

  .get-started-button-text {
    color: white;
    font-size: 20px;
    font-family: "Catamaran";
    font-weight: 700;
    line-height: 30.12px;
    letter-spacing: 0.6px;
    word-wrap: break-word;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
