* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Catamaran", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #163561;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.65px;
  letter-spacing: 0.75px;
}

.container {
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}

ul {
  list-style: none;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}

h1 {
  margin: 0;
  padding: 0;
  color: #163561;
  font-size: 75px;
  font-family: "Catamaran";
  font-weight: 700;
  line-height: 100.2px;
  word-wrap: break-word;
}

h3 {
  color: #163561;
  font-size: 45px;
  font-family: "Catamaran";
  font-weight: 700;
  line-height: 52.47px;
  letter-spacing: 1.35px;
  word-wrap: break-word;
}

p {
  color: #153461;
  font-size: 25px;
  font-family: "Catamaran";
  font-weight: 400;
  line-height: 37.65px;
  letter-spacing: 0.75px;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #163561;
}
