body {
  margin: 0;
  font-family: "Catamaran", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.65px;
  letter-spacing: 0.75px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: white;
  &:hover {
    background-color: #a3c1ef;
    color: white;
    transition: 0.1s linear;
  }
}
